
@{
    ViewBag.Title = "Index";
}

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="header-shadow" id="homeHeading">Herzlich Willkommen bei <br /> Deutsche Bank AG</h1>
            <hr>
            <p class="header-shadow">Ihr Partner, wenn es um ihre Finanzen geht</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Mehr</a>
        </div>
    </div>
</header>

<section id="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Über unseren Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-credit-card-alt text-primary sr-icons"></i>
                        <h3>Konten</h3>
                        <p class="text-muted">Wir bieten die besten Giro- und Sparkonten, angepasst für jeden. Ganz gleich, wie ihre Vorstellungen und Ansprüche auch sein mögen.</p>
                    </div>
                </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-home text-primary sr-icons"></i>
                   
                    <h3>Bausparen</h3>
                    <p class="text-muted">Sparen für ihr eigenes Heim. Bei Deutsche Bank AG werden sie bestens beraten, und bekommen ihr persöhnlich angepasstes Sparpaket.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-money text-primary sr-icons"></i>
                   
                    <h3>Investitionsvorsorgen</h3>
                    <p class="text-muted">Die besten Investitionen für später, damit mit man immer abgesichert ist. Von Unfallversicherungen bis zu Lebensvorsorge ist alles dabei.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                 <i class="fa fa-4x fa-phone text-primary sr-icons"></i>
                    
                    <h3>Service</h3>
                    <p class="text-muted">Unsere Mitarbeiter sind für sie rund um die Uhr da!<br />Seviceline: (069) 910-10000</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="credit">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Online Konsum Kredit</h2>
                <hr class="light">
                <p class="text-faded">Bestes Angebot für ihren Konsum-Wunschkredit. Hier können sie Ihren Wunschkredit von bis zu € 100 000,00 angeben, ihre gewünschte Laufzeit und der integrierte Kreditrechner berechnet Ihren gewünschten Kredit!</p>
                @*<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Online Wunschkredit</a>

                
                    Diese Art von Link übernimmt nicht die gewünschte Formatierung (*.css-Klasse)

                    @Html.ActionLink("Online Wunschkredit", "KreditRahmen", "KonsumKredit")

                    ---------------------------------------------------------------------------------------------------------------------------------------

                    Deswegen versuchte ich es folgender Maßen:

                    @Html.ActionLink("Online Wunschkredit", "KreditRahmen", "KonsumKredit", new { @class = "page-scroll btn btn-default btn-xl sr-button" })
        
                    ----------------------------------------------------------------------------------------------------------------------------------------

                    So wurde ich immer auf den Home-Controller verwiesen!!!
                    Also muss man den Button als neues Objekt "new object()" initialisieren.

                    @Html.ActionLink("Online Wunschkredit", "KreditRahmen", "KonsumKredit", new object(), new { @class = "page-scroll btn btn-default btn-xl sr-button" })
                *@
                @*@Html.ActionLink("Online Wunschkredit", "KreditRahmen", "KonsumKredit", new object(), new { @class = "page-scroll btn btn-default btn-xl sr-button" })*@

                <a href="@Url.Action("KreditRahmen", "KonsumKredit")" class="page-scroll btn btn-default btn-xl sr-button">Kredit-Rechner</a>
            </div>
        </div>
    </div>
</section>


