@model IEnumerable<XXXXModel>

<html>
	<head>
		<link class="include" rel="stylesheet" type="text/css" href="jquery.jqplot.min.css" />
		<link rel="stylesheet" type="text/css" href="examples.min.css" />
	</head>
	<body>
		<div id="chart1" style="height: 300px; width: 500px; position: relative;"></div>

		<script class="include" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script class="include" type="text/javascript" src="jquery.jqplot.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			  var plot1 = $.jqplot ('chart1', [[@{

for (int i = 0; i<Model.length-1; i++)
{
	@Model[i].PREIS ,
}
@Model[Model.length-1].Preis

}]]);
			});
		</script>
	</body>
</html>

